/* ////////////////////////////////////////////////////// */
/* /        Wonka-Alpha CSS          / */ 
/* //////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////// */
/* /    Wonka-Alpha Fonts Import      / */ 
/* //////////////////////////////////////////////////////////// */
@import url(https://fonts.googleapis.com/css?family=Oswald: 400, 300);

/* ///////////////////////////////////////////////// */
/* /  Wonka Admin Formatting / */ 
/* /////////////////////////////////////////////// */

li#customAdmin {
    left: 50% !important ; 
    background-color: #4a8e7d;
}

.adminAnchor-text {
    color: #17252e;
}

.adminAnchor-text {
    color: #17252e;
}

/* /////////////////////////////////////////////////////////////////////// */
/* /    Wonka-Alpha CSS Transitions      / */ 
/* //////////////////////////////////////////////////////////////////// */
.top-bar-wrapper, .top-bar, .wa-sub-menu-list-inline, .menu > li > a, a, .menu-main-nav, #wa-content, #wa-footer, #menu-sub-menu-top, #menu-sub-menu-bottom, #menu-main-nav > ul > li, .wa-top-bar-menu-alignment {
    transition:  all .3s ease-in-out;
}


/* /////////////////////////////////////////////////////////////////////// */
/* /    Wonka-Alpha CSS Body and Wrap      / */ 
/* //////////////////////////////////////////////////////////////////// */

html {
    height: 100% !important;
    margin:0;
    padding:0;
}

body, header, content, footer {
    font-family:  "Oswald" , sans-serif;
    font-weight: 400;
}


body {
    background: #fff;
    height: 100% !important; 
    margin:0;
    padding: 0;
}

header, footer {
    font-weight: 300;
    text-align: center;
}

.company-logos {
    margin-left: 50%;
    margin-top: 50%;
}

#site-wrap {
    position: relative;
    min-height: 100%;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* /    Wonka-Alpha CSS Top Bar From Left to Right  / */ 
/* ////////////////////////////////////////////////////////////////////////////////////////// */
.top-bar-wrapper {
    position:  absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.top-bar {
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    max-width:  1305px;
    padding:0;
    margin: 0 auto;

}

.top-bar-title {
    padding:0px;
    margin: 3px;
}

.wa-top-bar-padding {
    margin: 4.55rem 10rem 0 0;
}

.top-bar ul {
    background: transparent;
    vertical-align: middle;
    border-radius: 10px;
}

.wa-top-bar-height {
    height: 142px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* /    Wonka-Alpha CSS Menu  / */ 
/* ////////////////////////////////////////////////////////////////////////////////////////// */
.wa-sub-menu-list-inline {
    z-index: 50;
    top: .5em;
    right: 5em;
    position: absolute;
    margin: 0;
    height: 40px;
    list-style-type: none;
}

.wa-sub-menu-list-inline > li {
    vertical-align: middle;
    display: table-cell;
    color: #ffffff;
    height: 40px;
    padding: 0 .6rem;
}

.wa-sub-menu-list-inline > li:nth-child(3) {
    padding-right: 0;
}

#menu-sub-menu-top > ul > li:first-child {
    border-right: 1px solid #ffffff;
}

#menu-sub-menu-bottom > ul > li:first-child {
    border-right: 1px solid #ffffff;
}

.wa-top-bar-menu-alignment {
    position: relative;
    height: 142px;
    width: 900px;
    margin: auto;
}

#menu-main-nav {
    position: absolute;
    width: 100%;
    bottom: 2px;
    z-index: 0;
}

#menu-main-nav > ul > li {
    background-image:  url('../images/menu-button-bg.png');
    background-repeat: no-repeat;
    height: 65px;
    width: 225px;
}

.menu > li > a {
    margin: auto;
    color: #ffffff;
    padding: 3px 8px;
}

.menu > li > a:hover {
    color: #919a63;
}

.wa-sub-menu-top {
    position: relative;
    margin: 0;
}

.wa-burger-menu-text {
   color: #ffffff;
   vertical-align: middle;
   padding-left: .5em;
   text-transform: uppercase;
}

.custom-logo {
    max-width: 90px;
    padding-top: 6px;
}

.custom-logo-link {
    margin: 0;
    height: 120px;
    width: 95px;
}

.wa-backing {
    text-align: center;
    height: 135px;
    width: 110px;
    margin: 3px;
    border-radius: 10px;
    background-color:  rgba(255,255,255,0.8);
}

.search-form-container {
    width:  490px;
    margin: 0;
}

.search-icon {
    border-radius: 10px;
    
}

.search-input {
    border-radius: 10px;
    margin: 0;
    min-width: 100%;
}

.wa-responsive-search {
    list-style-type: none;
    margin: .3em 0 .3em;
}

/* //////////////////////////////////////////////////////// */
/* /   Wonka-Alpha CSS Miscellaneous  Classes to use   / */ 
/* ////////////////////////////////////////////////////// */

.wa-vertical-align {
    vertical-align: middle;
    }

.wa-clear-centered {
        clear: both;
        margin: auto;
        float: none;
    }

.wa-centered {
        margin: auto;
        float: none;
    }

.wa-logo-margin {
    margin-left: 120px;
}
/* //////////////////////////////////////////////////////// */
/* /   Wonka-Alpha CSS Slider     / */ 
/* ////////////////////////////////////////////////////// */




/* //////////////////////////////////////////////////////// */
/* /  Wonka-Alpha CSS Content  / */ 
/* ////////////////////////////////////////////////////// */

h1 {
    font-size: 28px;
}

h2 {

}

h3 {
    font-size: 26px;
}

#wa-content {
    padding-bottom: 120px;
}

.wa-content-text {
    font-size:  21pt;
}

.wa-search-results {
    top: 10em;
}

.toner {
    color:  #ff1f20;
}

#wa-center-quote {
    color:  #ffffff;
    margin: 10px 0;
    padding: 10px 0;
    width: 150px;
    background-color:  #b21819;
    border-radius: 10px;
}

/* /////////////////////////////////////////////////////////// */
/* /   Wonka-Alpha CSS Start Footer    / */ 
/* ///////////////////////////////////////////////////////// */

#wa-footer:before {
    content: "";
    clear: both;
}

#wa-footer {
    position: absolute;
    background-color: #b21819;
    width: 100%;
    height: 120px;
    left: 0;
    bottom: 0;
    color: #fff;
}

.copyright-div {
    margin: auto;
    padding: 1.5em 0;
}

.designer-credit > a {
    color: #ffffff;
}

.designer-credit > a:hover {
    color: #919a63;
}

#menu-sub-menu-bottom > ul {
    margin: auto;
    width: 120px;
    padding: 1em 0;
    float: right;
}

/* /////////////////////////////////////////////////////////// */
/* /   Wonka-Alpha CSS @media screen    / */ 
/* ///////////////////////////////////////////////////////// */

@media screen and (max-width:1023px) {
    .top-bar-wrapper {
        position: relative;
    }

    .top-bar-wrapper:after {
        content: " ";
        clear: both;
        display: block;
        bottom: 0;
    }

    .top-bar {
        min-width: 100%;
        border-radius: 0;
    }

    .top-bar-title {
        padding:20px;
    }

    .top-bar input {
        max-width: 225px;
        margin-right: 0;
    }

    .wa-top-bar-menu-alignment {
        margin: 0;
        width: 100%;
    }

    .wa-logo-margin {
        margin: 0;
    }

    #menu-main-nav {
        top: 0;
        position: relative;
    }
    
    #menu-main-nav > ul > li {
        background-color: #7b1717;
        background-image: none;
        padding: 1.2em;
        margin: .1em 0 0;
        background-position: 50% 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #menu-main-nav > ul > li:hover {
        background-color: rgba(212, 53, 53, .8);
    }

    .wa-top-bar-menu-alignment {
        height: inherit;
    }

    .wa-backing {
        margin: .2em auto;
    }

    .search-form-container {
        width: 100%;
    }

    #wa-content {
        padding-bottom: 189px;
    }

    #wa-footer {
        height: 189px;
    }

    #menu-sub-menu-bottom {
        text-align: center;
    }

    #menu-sub-menu-bottom > ul {
        float: none;
        margin: auto;
    }
}
