/* ////////////////////////////////////////////////////// */
/* /        Wonka-Alpha CSS          / */ 
/* //////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////// */
/* /    Wonka-Alpha Fonts Import      / */ 
/* //////////////////////////////////////////////////////////// */
@import url(https://fonts.googleapis.com/css?family=Oswald);

/* ///////////////////////////////////////////////// */
/* /  Wonka Admin Formatting / */ 
/* /////////////////////////////////////////////// */

li#customAdmin {
    left: 50% !important ; 
    background-color: #4a8e7d;
}

.adminAnchor-text {
    color: #17252e;
}

.adminAnchor-text {
    color: #17252e;
}

/* /////////////////////////////////////////////////////////////////////// */
/* /    Wonka-Alpha CSS Body and Wrap      / */ 
/* //////////////////////////////////////////////////////////////////// */

html {
    height: 100% !important;
    margin:0;
    padding:0;
}

body, content, footer {
    font-family:  "Oswald" , sans-serif;
    font-weight: 400;
}


body {
    background: #fff;
    height: 100% !important; 
    margin:0;
    padding: 0;
}

.company-logos {
    margin-left: 50%;
    margin-top: 50%;
}

#site-wrap {
    position: relative;
    min-height: 100%;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* /    Wonka-Alpha CSS Top Bar From Left to Right  / */ 
/* ////////////////////////////////////////////////////////////////////////////////////////// */
.top-bar-wrapper {
    position:  absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.top-bar {
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    max-width:  75%;
    padding:0;
    margin: 0 auto;

}

.top-bar-title {
    padding:0px;
}

.top-bar ul {
    background: transparent;
    vertical-align: middle;
    border-radius: 10px;
}

/*.menu ul li {
    min-width: 40px;
    padding: 2.7em 0px 2.7em 0px;
}*/

.menu > li > a {
    color: #ffffff;
}

.menu > li > a:hover {
    color: #919a63;
}

.wa-menu-button {
   float: right;
}

.wa-burger-menu-text {
   color: #ffffff;
   vertical-align: middle;
   padding-left: .5em;
   text-transform: uppercase;
}

@media screen and (max-width:1024px) {
    .top-bar {
        max-width: 100%;
        border-radius: 0;
    }

    .top-bar-title {
    padding:20px;
    }

    .top-bar ul li {
        padding: 5px;
    }

    .top-bar-wrapper {
        position: relative;
    }

    .wa-clear-center {
        clear: both;
        margin: auto;
    }

}

.custom-logo {
    max-width: 90px;
    padding-top: 6px;
}

.custom-logo-link {
    margin: 0;
    height: 120px;
    width: 95px;
}

.wa-backing {
    text-align: center;
    height: 135px;
    width: 110px;
    border-radius: 10px;
    background-color:  rgba(255,255,255,0.8);
}

.search-icon {
    border-radius: 10px;
    
}

.search-input {
    border-radius: 10px;
}

.wa-vertical-align {
    vertical-align: middle;
    
}

/* //////////////////////////////////////////////////////// */
/* /   Wonka-Alpha CSS Slider     / */ 
/* ////////////////////////////////////////////////////// */




/* //////////////////////////////////////////////////////// */
/* /  Wonka-Alpha CSS Content  / */ 
/* ////////////////////////////////////////////////////// */

h1 {
    font-size: 28px;
}

h2 {

}

h3 {
    font-size: 26px;
}

#wa-content {
    padding-bottom: 75px;
}

.wa-content-text {
    font-size:  21pt;
}

.wa-search-results {
    top: 10em;
}

.toner {
    color:  #ff1f20;
}

#wa-center-quote {
    color:  #ffffff;
    margin: 10px 0;
    padding: 10px 0;
    width: 150px;
    background-color:  #b21819;
    border-radius: 10px;
}

/* /////////////////////////////////////////////////////////// */
/* /   Wonka-Alpha CSS Start Footer    / */ 
/* ///////////////////////////////////////////////////////// */

.copyright-div {
    /*position: relative;*/
    margin: auto 0;
    padding: 1.5em 0;
}

#wa-footer {
    position: absolute;
    background-color: #b21819;
    width: 100%;
    height: 80px;
    left: 0;
    bottom: 0;
    color: #fff;
}

